org: credonbrasil
app: credonbrasilapp
service: credonbrasilservice

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  timeout: 10
  environment:
    # Credenciais Hardcoded conforme solicitado
    DB_HOST: "credonbrasil.cqzygi8o8twk.us-east-1.rds.amazonaws.com"
    DB_USER: "root"
    # Aspas são obrigatórias aqui devido aos caracteres especiais
    DB_PASSWORD: "jahdaj7652635%Hod00HJsdbRms" 
    DB_NAME: "credonBrasil"
    # Configurações de conexão
    DB_CONN_LIMIT: "5"
    DB_QUEUE_LIMIT: "100"
    DB_CONNECT_TIMEOUT: "10000"

  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedMethods:
        - GET
        - POST
        - OPTIONS
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Amz-Date
        - X-Api-Key
        - X-Amz-Security-Token

functions:
  cadastro:
    handler: handler.cadastro
    events:
      - httpApi:
          path: /parceiros/cadastro
          method: post

  login:
    handler: handler.login
    events:
      - httpApi:
          path: /parceiros/login
          method: post

  getUserData:
    handler: handler.getUserData
    events:
      - httpApi:
          path: /parceiros/me
          method: get

  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get